*,
::before,
::after{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #b9ff66;
    --color-secundario: #191a23;
    --gray-color: #F3F3F3;
    
    --padding-container: 80px 0;
}

/* Aqui le estoy diciendo que todos los body, input, textarea y button tengan 
la fuente de space grotest */
body,
input,
textarea,
button{
    font-family: "Space Grotesk", sans-serif;
}


.container{
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
}

/* HERO */


.nav {

    --nav-icon-background: url("./assets/menu-open.svg");
    --transform-list-menu:  translate(-100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

.nav:has(.nav__checkbox:checked){
     --nav-icon-background: url("./assets/menu-close.svg");
     --transform-list-menu:  translate(0);

}

.nav__checkbox{
    display: none;
}

.nav__label, .nav__logo-link {
    z-index: 100;
}

.nav__label{
    width: 36px;
    height: 36px;
    background-image: var(--nav-icon-background);
    background-size: cover;
    cursor: pointer;

    transition: background-image .4s;
}

.nav__list{
    position: absolute;
    inset: 0;
    
    display: grid;
    place-content: center;
    gap: 1rem;
    text-align: center;
    list-style: none;
    background-color: white;

    padding: 0;

    transform: var(--transform-list-menu);
    transition: transform .5s;
}

.nav__link {
    display: inline-block;
    padding: .8rem .5rem;
    color: #000;
    text-decoration: none;
}

.nav__link--cta{
    border: 1px solid #000;
    border-radius: 10px;
    padding-left:1.8rem;
    padding-right:1.8rem;
}

.nav__link:hover {
    text-decoration: underline;
}